.nav-item a  {
    color: white;
}
.quem-somos{
    background-color: silver;
}

.margin{
    padding-top: 50px;
    padding-bottom: 150px;
}
.bg-footer{
    background-color: slategrey;
    padding-top: 20px;
    padding-bottom: 5px;
}
n